{% extends 'home/base.html' %}
{%load static%}
{% block content %}
<br>
    <h1 class='display-4'> You have been logged out</h1>
    <div class='border-top pt-2'>
        <p class='text-muted'>
            <a href="{% url 'login' %}">Login Again</a>
        </p>
    </div>


    <!-- justify-content-center align-items-center -->
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="{% static 'logout.jpg' %}" alt="doggoTired" style="width:100%">
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>

  <!-- <div class="container-fluid">
    <div class="col-12">
        <img src="{% static 'logout.jpg' %}" class="img-fluid mx-auto d-block" alt="doggoTired" style="width:50%">
    </div>
  </div> -->

  {% endblock content%}